:root {
    --primary-color: #333;
    --secondary-color: #ddd;
    --hover-color: bisque;
}

*{
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
display: block;
height: 100px;
background-color: var(--primary-color);

}

header label {
    font-size: 26px;
    color: var(--secondary-color);
    position: absolute;
    display: none;
}

header #toggle {
    display: none;
}

.brand {
display: block;
position: absolute;
left: 5%;
top: 15px;
color: var(--secondary-color);
}
.brand span {
    font-size: 35px;
    padding-right: 10px;;
}

.brand a {
    text-decoration: none;
    color: var(--secondary-color);
}
.brand a:visited {
    text-decoration: none;
    color: var(--secondary-color);
    
}

header .nav {
display: inline-block;
position: absolute;
left: 70%;
top: 35px;

}
header .nav li {
    display: inline-block;
    padding-right: 20px;

}

header .nav li a {
    text-decoration: none;
    color: var(--secondary-color);
    display: block;
}

header .nav li a:hover {
    color: var(--hover-color);
}


main {
    width: 960px;
    margin: 0 auto;
    margin-top: 25px;
}


@media only screen and (max-width: 1080px) {
    header .nav {
        left: 60%;
    }
  }


  @media only screen and (max-width: 820px) {
    header .nav {
        left: 50%;
    }
  }



  @media only screen and (max-width: 650px) {
    header .nav {
        left: 45%;
        display: block;
    }
  }

  @media only screen and (max-width: 600px) {
    header .nav {
        display: none;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        

    }
    header .nav li {
        display: block;
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
        border-bottom: 1px solid var(--primary-color);
        
        background-color: var(--secondary-color);
    }
    header .nav li a {
        color: var(--primary-color);

    }
    header .nav li:hover {
        background-color: var(--hover-color);
    }
    header label {
        display: block;
        left: 90%;
        top: 25px;
        cursor: pointer;
    }

    
    #toggle:checked ~ header .nav {
        display: none !important;
    }
  }